@import 'variables';

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: $main-green;
  color: $font-dark;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;

  .logo{
    height: 80px;
    width: 80px;
    padding-right:10px;
  }

  .header{
    font-size: 2rem;
    margin-top: 20px;
    color: $lightgreen
  }

  div{
    width: 75%
  }

  button{
    border: solid;
    border-color: black;
    border-radius: $roundcorner;
    border-width: $borderwidth;
    margin-top:15px;
    margin-right:1em;
    height:50px;
    width:7em;
    background-color: $lightgreen;
    color:$main-green;
  }

  button:hover{
    background-color: white;
    color:black;
  }


}