@import 'variables';

#tweets {
  margin: 0 auto;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;

  article {
    opacity: 0.6;
    margin-top: 2em;
    margin-bottom:2em;
    border-radius: $roundcorner;
    border: solid;
    border-width: $borderwidth;
    border-color: lightgrey;
    background-color: white;
  }

  article:hover {
    opacity: 1.0;
  }

  header {
    background-color: #eee;
    height: 5em;
  }


  .author {
    margin-top: 10px;
    margin-left:5px;
    float: left;
    color: $font-dark;
  }

  .avatar {
    height: 65px;
    width: auto;
    float: left;
    margin: 6px;
    border: solid;
    border-color: transparent;
    border-radius: $roundcorner;
  }


  .handle {
    display: inline;
    float: right;
    color: grey;
    font-weight: lighter;
    margin-top: 16px;
    margin-right: 4px;
  }

  .content {
    height: 50%;
    border: solid;
    border-width: $borderwidth;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #F2F2F2;
    border-top-color: transparent;
    padding: 1em;
  }

  footer {
    height: 2em;
    padding-top: 0.2em;

    .time {
      height: 1em;
      font-weight: lighter;
      font-size: 0.7em;
      padding-left: 1em;
      display: inline;
    }

   .rxn {
     float: right;
     padding-left: 0.5em;
     padding-right: 0.5em;
     padding-top: 0;
     padding-bottom: 0;
     margin: 0;
     border: solid;
     border-color: transparent;
     color: $main-green;
     background-color: white;
     height: 1.7em;
   }

   & :hover{
     color: paleturquoise;
   }

    .rxnDiv{
      float: right;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0.2em;
      margin-left: 0;
      display: none;
      height: 3em;
      color: $main-green;
    }



  }

}






